.box-title{
	font-weight: bold;
}
.paging_number{
	
}
.paging_number a{
	background-color:#E1E1E1;
	color:#000;
	padding-left:4px;
	padding-right:4px;
	vertical-align:middle;
	text-decoration:none;
	font-weight:bold;
}
.paging_number a:hover{
	background-color:#900;
	color:#FFF;
	text-decoration:none;
}
.none {
    display:none;
}
select option:disabled {
    background-color:#A0A6AD;
}

.example-modal .modal {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
}

.example-modal .modal {
  background: transparent !important;
}
.tooltip{
   			display: inline;
    		position: relative;
		}
		
.tooltip:hover:after{
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: attr(title);
	left: 20%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 220px;
}

.tooltip:hover:before{
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
}
table #hours_and_earnings td, table #tax_deductions td, table #pre_tax_deductions td, table #after_tax_deductions td, table #payslip_employee_header td, table #payslip_employer_header td, table #pay_period_and_salary td, table #summary td, table #net_pay_distribution td, table #messages td{
    padding:2px;
}
table  #payslip_employee_header1, table  #payslip_employer_header1, table #pay_period_and_salary1, table #summary1, table  #hours_and_earnings1, table  #pre_tax_deductions1, table #tax_deductions1, table #after_tax_deductions1, table #net_pay_distribution1, table #messages1  {
    display:none;
}
#tdPadding{
    padding:2px;
}

.checkbox_container{ 
    border:1px solid #ccc; 
    padding:10px;
    width:100%; 
    height: 400px; 
    overflow-y: scroll; 
 }
 
.borderOk{  
     border-style: solid;
     border-width: 1px;
     border-color: #000000;
}
.borderOkTd{  
     border-style: solid;
     border-width: 1px;
     border-color: #000000;
}
.borderRight{
     border-right:1px solid #000000; 
}
.borderLeftRight{
     border-left:1px solid #000000;
    border-right:1px solid #000000;
}

#bulk_upload_iframe{
    
    overflow: scroll;
    width: 800px;
    height: 400px;
    border: 1px solid black;
}

/************** Used In Filter Borrower Columns********************/
   #from, #to, #from_branch, #to_branch {
        width: 200px;
        float: left;
    }
    .controls {
        width: 40px;
        float: left;
        margin: 140px 10px 10px 10px;
    }
    .controls a {
        background-color: #222222;
        border-radius: 4px;
        border: 2px solid #000;
        color: #ffffff;
        padding: 2px;
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        margin: 5px;
        width: 20px;
    }